* {
    margin: 0;
}

.content {
    padding: 0;
    overflow-y: hidden;
}

.btn#btn-return {
    color: #fff;
    cursor: pointer;
}

.pokemon-header {
    width: 100%;
    padding: 3rem 2rem 0 2rem;
    position: relative;
}

.pokemon-header h1 {
    color: #fff;
    font-size: 2.5rem;
    margin: 1rem 0 .5rem 0;
}

.pokemon-header .number {
    position: absolute;
    top: 3rem;
    right: 2rem;
    color: #fff;
    font-weight: bold
}

.pokemon-header .types {
    display: flex;
    padding: 0;
}

.pokemon-header .types li {
    list-style: none;
    border: 1px solid #fff;
    border-radius: 1rem; 
    padding: .5rem .7rem;
    font-size: .9rem;
    font-weight: 700;
    color: #fff;
    background: #ffffff34;
    margin-right: 1rem;
}

.pokemon-header .pokemon-img {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 2rem;
    z-index: 1;
}

main {
    width: 100%;
    height: 100%;
    border-radius: 3rem 3rem 0 0;
    background: #fff;
}

main .nav-links {
    padding-top: 3.5rem;
}

main .nav-links .menu {
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main ul {
   padding: .7rem 2rem
}

main ul li {
    list-style: none;
    color: #a5b2ba;
    font-weight: 400;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between
}

main ul li.selected {
    border-bottom: 2px solid blue;
}

main ul li.selected,
main ul li strong {
    color: #000000;
    font-weight: 700;
}

main section {
    display: none;
}

main section.active {
    height: 100%;
    display: block;
}

main section h2 {
    font-size: 1.2rem;
    color: #000000;
}
